body {
    background-color: #f4f1e8;
}

.nav-heading {
    font-family: "the-seasons", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 60px;
}

.intro-section {
    background-color: #30291f;
    margin: auto;
    width: 80%;
    padding: 10px;
}